@import "tailwindcss";
@theme {
  --color-purple-200: #dee7ff;
  --color-purple-500: #5b52c1;
  --color-purple-800: #5146e5;
  --color-gray-100: #fffefe;
  --color-gray-400: #f9fbfc;
  --color-gray-800: #4a4d57;
}
